Repository LerianStudio/helm, pull requests merged in 2025-02, with the labels that each got.

#36 feat(values): update midaz version
  .github/configs/labeler.yaml
  .github/workflows/pr-title.yml
  README.md
  charts/midaz/Chart.yaml
  charts/midaz/templates/audit/configmap.yaml
  charts/midaz/templates/ledger/configmap.yaml
  charts/midaz/templates/ledger/secrets.yml
  charts/midaz/templates/transaction/configmap.yaml
  charts/midaz/templates/transaction/deployment.yaml
  charts/midaz/templates/transaction/secrets.yml
  charts/midaz/values.yaml
Labels: pipe, doc, ledger, autit, auth, dependenicies, values

#41 fix(audit): fix audit config
  charts/midaz/templates/audit/configmap.yaml
  charts/midaz/templates/audit/deployment.yaml
Labels: auth, dependenicies, values, audit

#43 fix(values): add comments in values
  charts/midaz/values.yaml
Labels: auth, dependencies, values

#44 feat(dependencies): add new parameters to chart file
  .github/pull_request_template.md
  .github/workflows/pr-title.yml
  charts/midaz/Chart.yaml
Labels: pipe, auth, values, chart

#50 feat(pipe): Add semantic changelog
  .github/workflows/release.yml
  .releaserc.yml
  CHANGELOG.md
Labels: pipe

#51 feat(pipe): Add semantic changelog
  .github/workflows/release.yml
Labels: pipe

#52 feat(pipe): Add semantic changelog
  .github/workflows/release.yml
Labels: pipe

#53 feat(pipe): Add Semantic Release changelog
  .github/workflows/release.yml
  CHANGELOG.md
Labels: pipe

#57 fix(dependencies): rename otel to grafana
  .github/configs/labeler.yaml
  README.md
  charts/midaz/templates/_helpers.tpl
  charts/midaz/templates/audit/configmap.yaml
  charts/midaz/templates/console/configmap.yaml
  charts/midaz/templates/grafana/deployment.yaml
  charts/midaz/templates/grafana/ingress.yaml
  charts/midaz/templates/grafana/service.yaml
  charts/midaz/templates/ledger/configmap.yaml
  charts/midaz/templates/transaction/configmap.yaml
  charts/midaz/values.yaml
Labels: doc, ledger, auth, dependencies, values, audit, console

#62 chore(chart): update midaz version
  .github/configs/labeler.yaml
  .github/pull_request_template.md
  .github/workflows/pr-title.yml
  README.md
  charts/midaz/files/casdoor/00_init.sql
  charts/midaz/files/casdoor/init_data.json
  charts/midaz/files/midaz/init.sql
  charts/midaz/files/rabbitmq/load_definitions.json
  charts/midaz/templates/NOTES.txt
  charts/midaz/templates/_helpers.tpl
  charts/midaz/templates/audit/configmap.yaml
  charts/midaz/templates/audit/deployment.yaml
  charts/midaz/templates/console/configmap.yaml
  charts/midaz/templates/ledger/configmap.yaml
  charts/midaz/templates/ledger/hpa.yaml
  charts/midaz/templates/ledger/secrets.yml
  charts/midaz/templates/ledger/service.yaml
  charts/midaz/templates/ledger/serviceaccount.yaml
  charts/midaz/templates/onboarding/configmap.yaml
  charts/midaz/templates/onboarding/deployment.yaml
  charts/midaz/templates/onboarding/hpa.yaml
  charts/midaz/templates/onboarding/ingress.yaml
  charts/midaz/templates/onboarding/secrets.yml
  charts/midaz/templates/onboarding/service.yaml
  charts/midaz/templates/onboarding/serviceaccount.yaml
  charts/midaz/templates/transaction/configmap.yaml
  charts/midaz/templates/transaction/deployment.yaml
  charts/midaz/templates/transaction/secrets.yml
  charts/midaz/values.yaml
Labels: pipe, doc, ledger, auth, dependencies, values, audit, console
