Repository LerianStudio/helm, pull requests merged in 2025-09, with the labels that each got.

#563 chore(midaz): Publish new feature collector
  charts/midaz/Chart.yaml
  charts/midaz/values.yaml
  charts/otel-collector-lerian/Chart.yaml
  charts/otel-collector-lerian/values.yaml
  charts/plugin-access-manager/Chart.yaml
  charts/plugin-crm/Chart.yaml
  charts/plugin-crm/templates/crm/deployment.yaml
  charts/plugin-crm/templates/ui/deployment.yaml
  charts/plugin-crm/values.yaml
  charts/plugin-fees/Chart.yaml
  charts/plugin-fees/templates/fees/deployment.yaml
  charts/plugin-fees/templates/ui/deployment.yaml
  charts/plugin-fees/values.yaml
Labels: midaz, plugin-crm, plugin-fees, plugin-access-manager, otel-collector

#575 chore(midaz): update version collector
  charts/midaz/Chart.yaml
Labels: midaz

#579 chore(midaz): update version collector
  charts/midaz/Chart.yaml
Labels: midaz

#608 fix(midaz): update rabbitmq authentication format to use value
  charts/midaz/values.yaml
Labels: midaz

#618 feat(midaz): update midaz default dependencies and bump app version to 3.3.1
  README.md
  charts/midaz/Chart.yaml
  charts/midaz/docs/UPGRADE-4.0.md
  charts/midaz/templates/rabbitmq_load_definitions.yaml
  charts/midaz/values-template.yaml
  charts/midaz/values.yaml
Labels: documentation, dependencies, midaz
