Repository LerianStudio/helm, pull requests merged in 2025-07, with the labels that each got.

#310 feat(plugin-smart-templates): add external secrets support and Ingress Templates
  charts/plugin-smart-templates/templates/manager/deployment.yaml
  charts/plugin-smart-templates/templates/manager/ingress.yaml
  charts/plugin-smart-templates/templates/worker/keda-scaled-job.yaml
  charts/plugin-smart-templates/values.yaml
Labels: plugin-smart-templates

#313 feat(plugin-smart-templates): add external secrets support and Ingress Templates
  charts/plugin-smart-templates/CHANGELOG.md
  charts/plugin-smart-templates/Chart.yaml
  charts/plugin-smart-templates/templates/manager/deployment.yaml
  charts/plugin-smart-templates/templates/manager/ingress.yaml
  charts/plugin-smart-templates/templates/worker/keda-scaled-job.yaml
  charts/plugin-smart-templates/values.yaml
Labels: plugin-smart-templates

#318 fix(midaz): fix rabbitmq job to apply default definition
  charts/midaz/templates/rabbitmq_external_load_definitions.yaml
Labels: midaz

#320 feat(midaz): add support to external screts
  charts/midaz/templates/console/deployment.yaml
  charts/midaz/templates/onboarding/deployment.yaml
  charts/midaz/templates/transaction/deployment.yaml
Labels: midaz

#327 feat(plugin-access-manager): add support to extra env vars
  charts/plugin-access-manager/templates/auth/configmap.yaml
  charts/plugin-access-manager/templates/identity/configmap.yaml
  charts/plugin-access-manager/values.yaml
Labels: plugin-access-manager

#329 feat(plugin-fees): enable extra env vars
  charts/plugin-fees/templates/configmap.yaml
  charts/plugin-fees/values.yaml
Labels: plugin-fees

#339 feat(midaz): add nginx to console
  charts/midaz/Chart.yaml
  charts/midaz/templates/console/nginx_cm_plugins.yaml
  charts/midaz/templates/console/nginx_cm_server.yaml
  charts/midaz/templates/console/nginx_conf_server.yaml
Labels: midaz

#348 fix(midaz): Alter version collector
  charts/midaz/Chart.yaml
Labels: midaz

#352 feat(plugin-smart-templates): env vars update
  charts/plugin-smart-templates/values-template.yaml
  charts/plugin-smart-templates/values.yaml
Labels: plugin-smart-templates

#354 feat(plugin-smart-templates): create templates to plugin-smart-templates ui
  charts/plugin-smart-templates/templates/frontend/configmap.yaml
  charts/plugin-smart-templates/templates/frontend/deployment.yaml
  charts/plugin-smart-templates/templates/frontend/hpa.yaml
  charts/plugin-smart-templates/templates/frontend/ingress.yaml
  charts/plugin-smart-templates/templates/frontend/pdb.yaml
  charts/plugin-smart-templates/templates/frontend/secrets.yaml
  charts/plugin-smart-templates/templates/frontend/service.yaml
  charts/plugin-smart-templates/templates/frontend/serviceaccount.yaml
  charts/plugin-smart-templates/templates/helpers.tpl
  charts/plugin-smart-templates/values.yaml
Labels: plugin-smart-templates

#359 feat(midaz): plugins ui support to console
  charts/midaz/templates/console/nginx_cm_plugins.yaml
  charts/midaz/values.yaml
Labels: midaz

#360 chore(plugin-smart-templates): add fee metadata envs and configure redis envs
  charts/plugin-smart-templates/templates/manager/secrets.yml
  charts/plugin-smart-templates/templates/worker/secrets.yml
  charts/plugin-smart-templates/values-template.yaml
  charts/plugin-smart-templates/values.yaml
Labels: plugin-smart-templates

#369 fix(midaz): nginx server definitions
  charts/midaz/templates/console/nginx_conf_server.yaml
Labels: midaz

#375 chore(plugin-smart-templates): remove unused env vars from worker secret
  charts/plugin-smart-templates/templates/worker/secrets.yml
Labels: bug, plugin-smart-templates

#376 chore(midaz): Added support to send custom annotations to Midaz
  charts/midaz/templates/console/service.yaml
  charts/midaz/templates/onboarding/service.yaml
  charts/midaz/templates/transaction/service.yaml
  charts/midaz/values.yaml
Labels: midaz

#388 fix(midaz): midaz nginx proxy config
  charts/midaz/templates/console/nginx_conf_server.yaml
  charts/midaz/templates/console/nginx_def_server.yaml
Labels: midaz

#398 fix(midaz): Add filter spam atribbute and default values collector
  charts/otel-collector/values.yaml
  charts/plugin-access-manager/values.yaml
  charts/plugin-smart-templates/values.yaml
Labels: plugin-smart-templates, plugin-access-manager

#404 feat(midaz): update templates to midaz v3
  charts/midaz/README.md
  charts/midaz/templates/console/configmap.yaml
  charts/midaz/templates/onboarding/configmap.yaml
  charts/midaz/templates/transaction/configmap.yaml
  charts/midaz/values-template.yaml
  charts/midaz/values.yaml
Labels: midaz

#406 chore(midaz): update chart version to v3
  charts/midaz/templates/transaction/configmap.yaml
  charts/midaz/values.yaml
Labels: midaz

#416 chore(plugin-fees): update configmap
  charts/plugin-fees/templates/ui/configmap.yaml
  charts/plugin-smart-templates/templates/ui/configmap.yaml
Labels: plugin-smart-templates, plugin-fees

#421 chore(plugin-access-manager): update migration script
  charts/plugin-access-manager/templates/auth-backend/migrations.yaml
Labels: plugin-access-manager
