Repository LerianStudio/helm, pull requests merged in 2025-08, with the labels that each got.

#432 chore(midaz): update console extra env template
  charts/midaz/templates/console/configmap.yaml
Labels: midaz

#434 chore(midaz): update console extra env template
  charts/midaz/templates/console/configmap.yaml
Labels: midaz

#436 chore(midaz): update nginx buffers
  charts/midaz/templates/console/nginx_def_server.yaml
Labels: midaz

#440 chore(pipe): update release pipeline
  .github/workflows/release.yml
Labels: pipe

#448 chore(plugin-crm): remove old env var
  charts/plugin-crm/templates/ui/configmap.yaml
Labels: plugin-crm

#454 chore(plugin-smart-templates): update cm
  charts/plugin-smart-templates/templates/ui/configmap.yaml
Labels: plugin-smart-templates

#455 chore(plugin-smart-templates): update redis host env var
  charts/plugin-smart-templates/values.yaml
Labels: plugin-smart-templates

#459 chore(midaz): update app version
  charts/midaz/Chart.yaml
  charts/midaz/docs/UPGRADE-3.0.md
  charts/midaz/values.yaml
Labels: midaz

#461 chore(midaz): update app version
  charts/midaz/templates/console/configmap.yaml
Labels: midaz

#467 chore(midaz)!: chart bump version BREAKING CHANGE: The REDIS_PORT env…
  charts/midaz/docs/UPGRADE-3.0.md
Labels: midaz

#469 docs(midaz): update docs
  README.md
Labels: doc

#473 chore(plugins): bump all plugin versions to 2.0.0 and update Casdoor dependencies
  charts/midaz/templates/console/discovery_service_job.yaml
  charts/plugin-access-manager/templates/auth-backend/deployment.yaml
  charts/plugin-access-manager/templates/auth-backend/migrations.yaml
  charts/plugin-access-manager/values.yaml
  charts/plugin-crm/values.yaml
  charts/plugin-fees/values.yaml
  charts/plugin-smart-templates/values.yaml
Labels: plugin-smart-templates, midaz, plugin-crm, plugin-fees, plugin-access-manager

#431 chore(plugins): configure revisionHistoryLimit for all deployments in all charts
  charts/midaz/templates/console/deployment.yaml
  charts/midaz/templates/onboarding/deployment.yaml
  charts/midaz/templates/transaction/deployment.yaml
  charts/midaz/values.yaml
  charts/plugin-access-manager/templates/auth-backend/deployment.yaml
  charts/plugin-access-manager/templates/auth/deployment.yaml
  charts/plugin-access-manager/templates/identity/deployment.yaml
  charts/plugin-access-manager/values.yaml
  charts/plugin-crm/templates/crm/deployment.yaml
  charts/plugin-crm/templates/ui/deployment.yaml
  charts/plugin-crm/values.yaml
  charts/plugin-fees/templates/fees/deployment.yaml
  charts/plugin-fees/templates/ui/deployment.yaml
  charts/plugin-fees/values.yaml
  charts/plugin-smart-templates/templates/manager/deployment.yaml
  charts/plugin-smart-templates/templates/ui/deployment.yaml
  charts/plugin-smart-templates/values.yaml
Labels: enhancement, plugin-smart-templates, midaz, plugin-crm, plugin-fees, plugin-access-manager

#492 chore(plugins): docs bump all plugin versions to 2.0.0
  README.md
  charts/midaz/Chart.yaml
  charts/otel-collector/Chart.yaml
  charts/plugin-access-manager/Chart.yaml
  charts/plugin-crm/Chart.yaml
  charts/plugin-fees/Chart.yaml
  charts/plugin-smart-templates/Chart.yaml
Labels: doc, plugin-smart-templates, midaz, plugin-crm, plugin-fees, plugin-access-manager

#507 ci(pipe): update release workflow
  .github/workflows/release.yml
Labels: pipe

#509 chore(plugins): trigger plugins releases
  .github/workflows/release.yml
  charts/midaz/README.md
  charts/otel-collector/Chart.yaml
  charts/plugin-access-manager/Chart.yaml
  charts/plugin-crm/Chart.yaml
  charts/plugin-fees/Chart.yaml
  charts/plugin-smart-templates/Chart.yaml
Labels: pipe, plugin-smart-templates, midaz, plugin-crm, plugin-fees, plugin-access-manager

#510 chore(plugins): trigger plugins releases
  .github/workflows/release.yml
Labels: pipe

#525 refactor(plugins): otel colector path name
  .github/configs/labeler.yaml
  .github/pull_request_template.md
  .github/workflows/pr-title.yml
  .github/workflows/release.yml
  charts/otel-collector-lerian/Chart.yaml
  charts/otel-collector-lerian/values.yaml
Labels: pipe

#530 feat(midaz): update midaz app version
  charts/midaz/Chart.yaml
  charts/midaz/templates/onboarding/configmap.yaml
  charts/midaz/templates/transaction/configmap.yaml
  charts/midaz/values.yaml
Labels: midaz

#541 feat(plugin-access-manager): bump app version
  README.md
  charts/plugin-access-manager/Chart.yaml
  charts/plugin-access-manager/values.yaml
Labels: doc, plugin-access-manager

#546 chore(plugin-access-manager): allow overriding backend image via values
  charts/plugin-access-manager/templates/auth-backend/deployment.yaml
  charts/plugin-access-manager/templates/auth-backend/migrations.yaml
  charts/plugin-access-manager/values.yaml
Labels: plugin-access-manager

#547 feat(plugin-access-manager): allow overriding backend image via values
  charts/midaz/Chart.yaml
  charts/otel-collector-lerian/Chart.yaml
  charts/plugin-access-manager/Chart.yaml
  charts/plugin-access-manager/templates/auth-backend/deployment.yaml
  charts/plugin-access-manager/templates/auth-backend/migrations.yaml
  charts/plugin-access-manager/values.yaml
Labels: midaz, plugin-access-manager, otel-collector

#555 chore(midaz): Publish new feature collector
  charts/midaz/Chart.yaml
  charts/midaz/values.yaml
  charts/otel-collector-lerian/Chart.yaml
  charts/otel-collector-lerian/values.yaml
  charts/plugin-access-manager/Chart.yaml
  charts/plugin-crm/templates/crm/deployment.yaml
  charts/plugin-crm/templates/ui/deployment.yaml
  charts/plugin-crm/values.yaml
  charts/plugin-fees/templates/fees/deployment.yaml
  charts/plugin-fees/templates/ui/deployment.yaml
  charts/plugin-fees/values.yaml
Labels: midaz, plugin-crm, plugin-fees, plugin-access-manager, otel-collector
