Repository LerianStudio/helm, pull requests merged in 2025-03, with the labels that each got.

#64 ci(pipe): Add semantic release helm
  .github/workflows/release.yml
  .releaserc.yml
  CHANGELOG.md
  charts/midaz/Chart.yaml
Labels: pipe, auth, dependencies, values

#67 feat(chart): update version
  .github/workflows/release.yml
  .gitignore
  .releaserc.yml
  CHANGELOG.md
  charts/midaz/Chart.lock
  charts/midaz/Chart.yaml
  charts/midaz/files/audit/init.sql
  charts/midaz/files/casdoor/00_init.sql
  charts/midaz/files/casdoor/init_data.json
  charts/midaz/templates/audit/configmap.yaml
  charts/midaz/templates/audit/deployment.yaml
  charts/midaz/templates/audit/hpa.yaml
  charts/midaz/templates/audit/ingress.yaml
  charts/midaz/templates/audit/secrets.yml
  charts/midaz/templates/audit/service.yaml
  charts/midaz/templates/audit/serviceaccount.yaml
  charts/midaz/templates/onboarding/configmap.yaml
  charts/midaz/templates/transaction/configmap.yaml
Labels: pipe, auth, dependencies, values, audit, onboarding

#71 feat(chart): update version
  charts/midaz/templates/console/configmap.yaml
  charts/midaz/templates/onboarding/configmap.yaml
  charts/midaz/templates/transaction/configmap.yaml
Labels: auth, dependencies, values, console, onboarding

#72 feat(doc): remove old components
  README.md
Labels: doc

#73 feat(dependencies): disable grafana
  charts/midaz/values.yaml
Labels: auth, dependencies, values

#74 feat(values): update values file
  charts/midaz/values.yaml
Labels: auth, dependencies, values

#76 feat(chart): update midaz version
  .github/workflows/release.yml
  .gitignore
  .releaserc.yml
  CHANGELOG.md
  README.md
  charts/midaz/Chart.lock
  charts/midaz/Chart.yaml
  charts/midaz/files/audit/init.sql
  charts/midaz/files/casdoor/00_init.sql
  charts/midaz/files/casdoor/init_data.json
  charts/midaz/templates/audit/configmap.yaml
  charts/midaz/templates/audit/deployment.yaml
  charts/midaz/templates/audit/hpa.yaml
  charts/midaz/templates/audit/ingress.yaml
  charts/midaz/templates/audit/secrets.yml
  charts/midaz/templates/audit/service.yaml
  charts/midaz/templates/audit/serviceaccount.yaml
  charts/midaz/templates/console/configmap.yaml
  charts/midaz/templates/onboarding/configmap.yaml
  charts/midaz/templates/transaction/configmap.yaml
  charts/midaz/values.yaml
Labels: pipe, doc, auth, dependencies, values, audit, console, onboarding

#77 feat(doc): add new version
  README.md
Labels: doc

#78 feat(doc): add new version
  README.md
Labels: doc

#79 feat(console): add feature flag to console
  .github/pull_request_template.md
  .github/workflows/pr-title.yml
  charts/midaz/templates/configmap-casdoor.yaml
  charts/midaz/templates/configmap-mariadb.yaml
  charts/midaz/templates/configmap-postgres-casdoor.yaml
  charts/midaz/templates/console/configmap.yaml
  charts/midaz/templates/console/deployment.yaml
  charts/midaz/templates/console/hpa.yaml
  charts/midaz/templates/console/ingress.yaml
  charts/midaz/templates/console/secrets.yml
  charts/midaz/templates/console/service.yaml
  charts/midaz/templates/console/serviceaccount.yaml
  charts/midaz/values.yaml
Labels: pipe, auth, dependencies, values, console

#80 refactor(dependencies): replace redis dependency with valkey
  README.md
  charts/midaz/Chart.yaml
  charts/midaz/templates/_helpers.tpl
  charts/midaz/templates/configmap-casdoor.yaml
  charts/midaz/templates/configmap-mariadb.yaml
  charts/midaz/templates/configmap-postgres-casdoor.yaml
  charts/midaz/templates/onboarding/configmap.yaml
  charts/midaz/templates/onboarding/secrets.yml
  charts/midaz/templates/transaction/configmap.yaml
  charts/midaz/templates/transaction/secrets.yml
  charts/midaz/values.yaml
Labels: doc, auth, dependencies, values, onboarding

#82 chore(chart): add new env var and fixes pipe
  .github/configs/labeler.yaml
  .github/pull_request_template.md
  .github/workflows/pr-title.yml
  charts/midaz/templates/_helpers.tpl
  charts/midaz/templates/console/configmap.yaml
  charts/midaz/templates/console/deployment.yaml
  charts/midaz/templates/console/hpa.yaml
  charts/midaz/templates/console/ingress.yaml
  charts/midaz/templates/console/secrets.yml
  charts/midaz/templates/console/service.yaml
  charts/midaz/templates/console/serviceaccount.yaml
  charts/midaz/templates/onboarding/configmap.yaml
  charts/midaz/templates/transaction/configmap.yaml
Labels: pipe, auth, dependencies, values, console, onboarding

#84 chore(dependencies): remove old dependencies and update dependencies
  .github/configs/labeler.yaml
  .github/pull_request_template.md
  .github/workflows/pr-title.yml
  CHANGELOG.md
  charts/midaz/Chart.yaml
  charts/midaz/templates/_helpers.tpl
  charts/midaz/templates/console/configmap.yaml
  charts/midaz/templates/console/deployment.yaml
  charts/midaz/templates/console/hpa.yaml
  charts/midaz/templates/console/ingress.yaml
  charts/midaz/templates/console/secrets.yml
  charts/midaz/templates/console/service.yaml
  charts/midaz/templates/console/serviceaccount.yaml
  charts/midaz/templates/onboarding/configmap.yaml
  charts/midaz/templates/transaction/configmap.yaml
  charts/midaz/values.yaml
Labels: pipe, auth, dependencies, values, console, onboarding
